<div class="app-shell">
  <mat-toolbar class="toolbar">
    <button
      (click)="sidebar.toggle()"
      *ngIf="!isDesktop()"
      aria-label="Toon of verberg menu"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-logo">
      <mat-icon svgIcon="app:logo">Logo</mat-icon>
      <span>Logistiek App</span>
    </span>

    <span class="toolbar-spacer"></span>

    <button
      (click)="fireConfetti()"
      aria-label="Meer confetti toevoegen"
      mat-icon-button
    >
      <mat-icon>celebration</mat-icon>
    </button>

    <button
      [matMenuTriggerFor]="menu"
      aria-label="Toon account menu"
      mat-button
    >
      <mat-icon>person</mat-icon>
      Tessa
    </button>
  </mat-toolbar>

  <mat-menu #menu>
    <button mat-menu-item>
      <mat-icon>manage-accounts</mat-icon>
      Profiel
    </button>
    <button mat-menu-item>
      <mat-icon>security</mat-icon>
      Beveiliging
    </button>
    <mat-divider/>
    <button mat-menu-item>
      <mat-icon>exit</mat-icon>
      Uitloggen
    </button>
  </mat-menu>

  <mat-sidenav-container [hasBackdrop]="!isDesktop()" class="app-main">
    <mat-sidenav
      #sidebar
      [disableClose]="isDesktop()"
      [mode]="isDesktop() ? 'side' : 'over'"
      [opened]="isDesktop()"
    >
      <app-nav/>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content/>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
