#
# Application config
# This file contains app configuration
#
app:
  version: ${quarkus.application.version:UNRELEASED}

  services:
    pocket-id:
      enabled: ${POCKET_ENABLED:false}
      url: ${POCKET_URL:https://auth.myvana.dev}
      api-key: ${POCKET_API_KEY:unset}

  roles:
    admin: ${ROLE_ADMIN:role_admin}
    centrale-post: ${ROLE_CP:role_cp}
    wijkhouder: ${ROLE_DISTRICT:role_district}
    gedelegeerd: ${ROLE_DELEGATE:role_delegate}

# HTTP
quarkus:
  http:
    root-path: /
    port: 8080

    # Force deletion of uploaded files after working on it
    body:
      delete-uploaded-files-on-end: true

  # OpenID Connect
  oidc:
    client-id: backend-service
    credentials:
      secret: secret

  # Configure Hibernate
  hibernate-orm:
    log:
      sql: false

  # Database access
  datasource:
    db-kind: h2

  # Liquibase config
  liquibase:
    change-log: db.changelog.yaml
    migrate-at-start: true
    validate-on-migrate: true
    clean-at-start: false
    database-change-log-lock-table-name: db_changelog_lock
    database-change-log-table-name: db_changelog

  # Rest clients
  rest-client:
    # PocketID (upstream authentication)
    pocketid:
      url: ${app.services.pocket-id.url}

  # Configure Keycloak dev-container in shared config,
  # Note: this system is unavailable in prod.
  devservices:
    timeout: 2M
  keycloak:
    devservices:
      image-name: quay.io/keycloak/keycloak:26.4.7
      realm-path: quarkus-realm.json

# JWT verification
mp:
  jwt:
    verify:
      issuer: https://auth.myvana.dev
      audiences:
        - logistiek.myvana.dev
        - localhost
      publickey:
        location: https://auth.myvana.dev/.well-known/jwks.json

"%prod":
  quarkus:
    # Require OIDC configuration
    oidc:
      auth-server-url: ${OIDC_URL}
      client-id: ${OIDC_CLIENT_ID}
      credentials:
        secret: ${OIDC_CLIENT_SECRET}

    # Use a management interface
    management:
      enabled: true
      port: 9000

    # Database access
    datasource:
      db-kind: mysql
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      jdbc:
        url: ${DB_URL}
