quarkus:
  # Reconfigure ports
  http:
    port: 8080

  # OIDC Configuration
  oidc:
    auth-server-url: ${OIDC_URL}

  # Use a management interface in prod
  management:
    enabled: true
    port: 9000

  # Database access
  datasource:
    db-kind: mysql
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    jdbc:
      url: ${DB_URL}
