<h2 mat-dialog-title>Klaag-i-nator</h2>
<mat-dialog-content class="dialog">
  @if (currentStep() === 1) {
    <div class="complain-animate-wrap">
      <p class="complain-animate">Nu klagen</p>
    </div>
    <p>
      <small>(voel je vrij om tegen je gegevensdrager te schreeuwen)</small>
    </p>
  } @else if (currentStep() === 2) {
    <div class="complain-send">
      <mat-spinner [diameter]="48"/>
      <p>Frustratie doorgeven...</p>
    </div>
  } @else {
    <!--    <p>Tessa zegt:</p>-->
    <div class="complain-chat">
      <img class="complain-chat-image"
           src="/tessa-64.webp"
           srcset="/tessa-256.webp 4x, /tessa-128.webp 2x, /tessa-64.webp"
           height="64"
           width="64"
           alt="Foto van Tessa"/>
      <p class="complain-chat-message">
        {{ complaintResolve() }}
      </p>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions>
  @if (currentStep() === 1) {
    <button mat-button cdkFocusInitial (click)="handleClickContinue()">Reageren, a.u.b.</button>
  } @else if (currentStep() > 2) {
    <button mat-button cdkFocusInitial mat-dialog-close>Sluiten</button>
  }
</mat-dialog-actions>
