@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
    container-min-width: 60rem,
  ));
}

.complain-animate-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complain-animate {
  padding: 0;

  font: var(--mat-sys-display-medium);
  text-align: center;

  pointer-events: none;
  position: relative;
  animation: complain 600ms infinite;
}

.complain-small {
  font: var(--mat-sys-body-small);
  color: var(--mat-sys-secondary);
}

.complain-chat {
  display: flex;
  flex-direction: row;
  align-items: end;
  column-gap: 1rem;
}

.complain-chat-image {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}

.complain-chat-message {
  margin: 0;
  padding: 0.5rem 1rem;
  word-wrap: anywhere;

  flex-grow: 1;
  border-radius: var(--mat-sys-corner-large);
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  position: relative;
}

.complain-chat-message:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-right: 15px solid var(--mat-sys-primary);
  border-left: 15px solid transparent;
  border-top: 15px solid transparent;
  border-bottom: 15px solid var(--mat-sys-primary);
  left: -1rem;
  bottom: 0;
}

.complain-send {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

@keyframes complain {
  from,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

