@use "@angular/material" as mat;

.auth {
  display: grid;
  min-height: 100vh;
  grid-template-columns: [auth-start] 1fr [auth-end];
  grid-column-gap: 1rem;
  background-color: var(--mat-sys-primary);
}

.auth-backdrop {
  margin: 0;
  padding: 0;
  display: none;

  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;

  @media (min-width: 480px) {
    display: block;
  }
}

.auth-container {
  position: relative;
  grid-column: auth;
  padding: 0 16px;
}

.auth-on-backdrop {
  color: var(--mat-sys-on-primary);
}

.auth-header {
  margin-top: 5vh;
  margin-bottom: 2rem;
}

.title {
  font: var(--mat-sys-display-medium);
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.subtitle {
  margin: 0;
  padding: 0;
  font: var(--mat-sys-headline-medium);
}

.auth-footer {
  padding: 1rem;
  font: var(--mat-sys-label-small);
}

.auth-form {
  display: grid;
  grid-template-columns: 1fr;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem 2rem;

  @media (min-width: 480px) {
    flex-direction: row;
    align-items: center;
  }
}

@media ((min-width: 480px) and (max-width: 839.98px)) {
  .auth {
    grid-template-columns: 1fr [auth-start] 6fr [auth-end] 1fr;
  }

  .auth-container {
    padding: 2rem 0;
  }
}

@media (min-width: 840px) {
  .auth {
    grid-template-columns: 3fr [auth-start] 6fr [auth-end] 3fr;
  }

  .auth-container {
    padding: 2rem 0;
  }
}
