<main>
  <app-page-title [title]="pageTitle()">
    @if (anyTicket()) {
      <app-ticket-status-card [status]="anyTicket()!.status"/>
    } @else {
      <app-ticket-status-card [status]="TicketStatus.Loading"/>
    }

  </app-page-title>

  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate"/>
  }

  <div class="ticket-line">
    <span>Standhouder</span>
    @if (anyTicket()) {
      <app-vendor-card [vendor]="anyTicket()!.vendor"/>
    } @else {
      <span>...</span>
    }
  </div>
</main>
