.type-option {
  --select-type-icon-size: 32px;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-column-gap: 0.5rem;

  padding: 0.5rem 0.25rem;
  border-radius: var(--mat-sys-corner-small);
  border: 1px solid var(--mat-sys-outline);
}

.type-option:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.type-option:not(:last-of-type) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.type-radio {
  flex: none;
  grid-row: 1 / 3;
  align-content: start;
}

.type-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, max-content) 1fr
}

.type-label {
  align-content: center;
  font: var(--mat-sys-title-medium);
}

.type-summary {
  color: var(--mat-sys-secondary);
}

.type-icon {
  flex: none;
  padding: 0.5rem 0.5rem 0 0;

  color: var(--mat-sys-outline);

  height: var(--select-type-icon-size);
  width: var(--select-type-icon-size);
  font-size: var(--select-type-icon-size);
}
