.ticket-status {
  --color-50: #ECEFF1;
  --color-100: #CFD8DC;
  --color-800: #37474F;

  border-radius: var(--mat-sys-corner-small);
  padding: 0.125rem 0.25rem;
  font: var(--mat-sys-label-medium);

  color: var(--color-50);
  background-color: var(--color-800);
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;

  &-icon {
    --icon-size: 16px;

    flex: none;
    fill: var(--color-100);
    color: var(--color-100);

    height: var(--icon-size);
    width: var(--icon-size);
    font-size: var(--icon-size);
  }

  &-label {
    flex: min-content;
  }

  &--created {
    --color-50: #FFF3E0;
    --color-100: #FFE0B2;
    --color-800: #EF6C00;
  }

  &--updated {
    --color-50: #E8EAF6;
    --color-100: #C5CAE9;
    --color-800: #283593;
  }

  &--assigned {
    --color-50: #E1F5FE;
    --color-100: #B3E5FC;
    --color-800: #0277BD;

  }

  &--resolved {
    --color-50: #F1F8E9;
    --color-100: #DCEDC8;
    --color-800: #2E7D32;
  }

  &-loading {
    width: calc(var(--icon-size) + 7rem);
    height: 0.5rem;
  }
}
