// You can add global styles to this file, and also import other style files
@use "@angular/material" as mat;

// Material Icons
@use "material-symbols";

// Roboto font
@use "@fontsource/roboto/latin-300.css";
@use "@fontsource/roboto/latin-400.css";
@use "@fontsource/roboto/latin-400-italic.css";
@use "@fontsource/roboto/latin-500.css";
@use "@fontsource/roboto/latin-700.css";

:root {
  --mat-xsmall-min-width: 0;
  --mat-xsmall-max-width: 599.98px;
  --mat-small-min-width: 560px;
  --mat-small-max-width: 959.98px;
  --mat-medium-min-width: 960px;
  --mat-medium-max-width: 1279.98px;
  --mat-large-min-width: 1280px;
  --mat-large-max-width: 1919.98px;
  --mat-xlarge-min-width: 1920px;
  --mat-xlarge-max-width: 9999px;
}

html {
  color-scheme: only light;

  @include mat.theme(
      (
        color: mat.$rose-palette,
        typography: Roboto,
        density: 0,
      )
  );
}

html,
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-4 {
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;

  padding: 0.5rem 1rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
