.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid var(--mat-sys-outline-variant);
  color: var(--mat-);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-main {
  flex-shrink: 0;
}

.header-after {
  flex-grow: 1;
  padding: 0.5rem 1rem;
}

.title {
  font: var(--mat-sys-display-small);
  margin-top: 0;
  margin-bottom: 0;
}

.lead {
  margin: 0.5rem 0 0 0;
  padding: 0;
  font: var(--mat-sys-headline-small);
}
