<div>
  <header>
    <h1>Welkom bij de <span>Logistiek App</span></h1>
    <h2>(Nu met extra penis en confetti)</h2>
  </header>

  <main>
    <form method="post" (ngSubmit)="handleSubmit($event)" #form>
      <label for="username">Username</label>
      <input name="username" required id="username" type="text" autocomplete="username">

      <label for="password">Password</label>
      <input name="password" required id="password" type="text" autocomplete="current-password">

      <button type="submit" class="btn">Login</button>
      <a [routerLink]="'/register'">Registreren</a>
    </form>
  </main>

  <footer>
    <p>
      © 2025. Alle rechten voorbehouden.
    </p>
    <p>
      Toegang tot dit systeem is alleen voor geautoriseerde medewerkers van Vana Events B.V.<br/>
      Misbruik is strafbaar en gebruik wordt gelogd.
    </p>
  </footer>
</div>
