<app-auth-shell
  title="Logistiek App"
  subtitle="Nu met extra veel confetti!"
  cardTitle="Inloggen">

  <form
    (ngSubmit)="handleSubmit()"
    [formGroup]="form"
    class="login-form"
    method="post"
  >
    <mat-form-field>
      <mat-label>Gebruikersnaam</mat-label>
      <input
        autocomplete="email"
        formControlName="username"
        matInput
        name="username"
        placeholder="e.mail@example.nl"
        required
        type="email"
      />

      @if (usernameError()) {
        <mat-error>{{ usernameError() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wachtwoord</mat-label>
      <input
        autocomplete="current-password"
        formControlName="password"
        matInput
        name="password"
        placeholder="hunter2"
        required
        type="password"
      />
      @if (passwordError()) {
        <mat-error>{{ passwordError() }}</mat-error>
      }
    </mat-form-field>

    <div class="login-buttons">
      <button mat-flat-button type="submit">Inloggen</button>
      <a [routerLink]="'/register'" mat-button>Registreren</a>
    </div>
  </form>
</app-auth-shell>
