<mat-stepper #stepper [selectedIndex]="currentStep()" linear orientation="vertical" style="width: 100%;">
  <mat-step [completed]="vendorComplete()">
    <ng-template matStepLabel>
      @if (vendorComplete()) {
        <span>Standhouder: {{ vendor()!.name }} ({{ vendor()!.number }})</span>
      } @else {
        <span>Selecteer standhouder</span>
      }
    </ng-template>
    <app-new-ticket-vendor (vendorSelected)="vendorSelected($event)"/>
  </mat-step>

  <mat-step [completed]="typeCompleted()">
    <ng-template matStepLabel>
      @if (typeCompleted()) {
        <span>Type: {{ typeDetails()!.label }}</span>
      } @else {
        <span>Selecteer type</span>
      }
    </ng-template>

    <app-new-ticket-type (typeSelected)="typeSelected($event)"/>
  </mat-step>

  <mat-step label="Details">
    <app-new-ticket-details [type]="type()!" (detailsSelected)="detailsSelected($event)"/>
  </mat-step>

  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
</mat-stepper>
