<mat-stepper #stepper orientation="vertical" linear style="width: 100%;" [selectedIndex]="currentStep()">
  <mat-step [completed]="vendorComplete()">
    <ng-template matStepLabel>
      @if (vendorComplete()) {
        <span>Standhouder: {{ vendor()!.name }} ({{ vendor()!.number }})</span>
      } @else {
        <span>Selecteer standhouder</span>
      }
    </ng-template>
    <app-select-vendor (vendorSelected)="vendorSelected($event)"/>
  </mat-step>

  <mat-step [label]="typeLabel()" [completed]="type() != null">
    <button type="button" matStepperPrevious matButton>Terug</button>
    <button type="button" matStepperNext matButton>Verder</button>
  </mat-step>

  <mat-step label="Details">
    <button type="button" matStepperPrevious matButton>Terug</button>
  </mat-step>

  <ng-template matStepperIcon="edit">
    <mat-icon>check</mat-icon>
  </ng-template>
</mat-stepper>
