<div>
  <h1 class="heading">Heading</h1>
  <mat-nav-list role="list" aria-label="Site-navigatie">
    @for (item of menuItems(); track item.link) {
      <li>
        <a mat-list-item [routerLink]="[item.link]" (click)="onMenuClick()"> {{ item.title }} </a>
      </li>
    }

    <mat-divider></mat-divider>

    @for (action of menuActions(); track action.link) {
      <li>
        <a mat-list-item [routerLink]="[action.link]" (click)="onMenuClick()"> {{ action.title }} </a>
      </li>
    }
  </mat-nav-list>
</div>
