<app-auth-shell
  cardTitle="Registreren"
  subtitle="Nu met extra veel confetti!"
  title="Logistiek App">

  <p>
    Vraag hieronder een account aan voor de Logistiek App.<br/>
    Na aanvraag moet je account nog worden geactiveerd, hiervan krijg je bericht.
  </p>

  <form
    (ngSubmit)="handleSubmit()"
    [formGroup]="form"
    class="auth-form"
    method="post"
  >
    <mat-form-field>
      <mat-label>Naam</mat-label>
      <input
        autocomplete="name"
        formControlName="name"
        matInput
        name="name"
        placeholder="Ridley Scott"
        required
        type="text"
      />

      @if (form.hasError('required', 'name')) {
        <mat-error>Naam is verplicht</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mailadres</mat-label>
      <input
        autocomplete="email"
        formControlName="username"
        matInput
        name="username"
        placeholder="e.mail@example.nl"
        required
        type="email"
      />

      @if (form.hasError('required', 'username')) {
        <mat-error>E-mailadres is verplicht.</mat-error>
      } @else if (form.hasError('email', 'username')) {
        <mat-error>E-mailadres lijkt ongeldig.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wachtwoord</mat-label>
      <input
        [minlength]="passwordMinLength"
        autocomplete="new-password"
        formControlName="password"
        matInput
        name="password"
        placeholder="hunter2"
        required
        type="password"
      />

      @if (form.hasError('required', 'password')) {
        <mat-error>Wachtwoord is verplicht.</mat-error>
      } @else if (form.hasError('minlength', 'password')) {
        <mat-error>Wachtwoord moet minimaal {{ passwordMinLength }} tekens lang zijn.</mat-error>
      }
    </mat-form-field>

    <div class="mb-4 card">
      <h3 class="card-heading">Intern gebruik</h3>
      <p>
        Dit systeem is uitsluitend voor intern gebruik. Door je te registreren, geef je aan dat je je hebt geïnformeerd
        over hoe de applicatie werkt en hoe je gegevens verwerkt en gedeeld worden.
      </p>

      <mat-checkbox formControlName="terms" name="terms">
        Ik heb mij geïnformeerd over hoe deze applicatie werkt, en ga hiermee akkoord.
      </mat-checkbox>

      @if (this.form.get('terms')?.touched && this.form.hasError('required', 'terms')) {
        <mat-error>Je moet akkoord (kunnen) gaan.</mat-error>
      }
    </div>

    <div class="auth-buttons">
      <button mat-flat-button type="submit">Registratie aanvragen</button>
    </div>
  </form>
</app-auth-shell>
