<app-auth-shell
  cardTitle="Registreren"
  subtitle="Nu met extra veel confetti!"
  title="Logistiek App">

  <p>
    Vraag hieronder een account aan voor de Logistiek App.<br/>
    Na aanvraag moet je account nog worden geactiveerd, hiervan krijg je bericht.
  </p>

  <form
    method="post"
    class="auth-form"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
  >
    <mat-form-field>
      <mat-label>Naam</mat-label>
      <input
        matInput
        name="name"
        type="text"
        autocomplete="name"
        placeholder="Ridley Scott"
        formControlName="name"
        required
      />

      @if (form.hasError('required', 'name')) {
        <mat-error>Naam is verplicht</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mailadres</mat-label>
      <input
        matInput
        name="username"
        type="email"
        autocomplete="email"
        placeholder="e.mail@example.nl"
        formControlName="username"
        required
      />

      @if (form.hasError('required', 'username')) {
        <mat-error>E-mailadres is verplicht.</mat-error>
      } @else if (form.hasError('email', 'username')) {
        <mat-error>E-mailadres lijkt ongeldig.</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Wachtwoord</mat-label>
      <input
        matInput
        name="password"
        type="password"
        autocomplete="new-password"
        placeholder="hunter2"
        formControlName="password"
        [minlength]="passwordMinLength"
        required
      />

      @if (form.hasError('required', 'password')) {
        <mat-error>Wachtwoord is verplicht.</mat-error>
      } @else if (form.hasError('minlength', 'password')) {
        <mat-error>Wachtwoord moet minimaal {{ passwordMinLength }} tekens lang zijn.</mat-error>
      }
    </mat-form-field>

    <div class="mb-4 card">
      <h3 class="card-heading">Intern gebruik</h3>
      <p>
        Dit systeem is uitsluitend voor intern gebruik. Door je te registreren, geef je aan dat je je hebt geïnformeerd
        over hoe de applicatie werkt en hoe je gegevens verwerkt en gedeeld worden.
      </p>

      <mat-checkbox name="terms" formControlName="terms">
        Ik heb mij geïnformeerd over hoe deze applicatie werkt, en ga hiermee akkoord.
      </mat-checkbox>

      @if (this.form.get('terms')?.touched && this.form.hasError('required', 'terms')) {
        <mat-error>Je moet akkoord (kunnen) gaan.</mat-error>
      }
    </div>

    <div class="auth-buttons">
      <button mat-flat-button type="submit">Registratie aanvragen</button>
    </div>
  </form>
</app-auth-shell>
